
@import "config.styl"

body
  font-family font_body
  color bw_body
  padding 50px

h1
  font-family font_title
  color bw_title

a
  color flat_blue
  text-decoration none

  &:hover
    color flat_dark_blue
    border-bottom 1px solid flat_dark_blue