
// Dependencies

@import "config.styl"

// Some general style

::selection
  background flat_blue
  color white

body
  animation bounceInDown 1s
  font-family font_body
  color bw_body
  padding 50px
  max-width 800px
  min-width 600px
  margin auto

h1
  font-family font_title
  color bw_title

a
  color flat_blue
  text-decoration none

  &:hover
    color flat_dark_blue
    border-bottom 1px solid flat_dark_blue

// Header's style

header
  text-align center
  img
    width 200px
    opacity 0.8
  h1
    font-size 3em

// Navigation's style

nav
  text-align center
  margin-bottom 40px
  a
    i
      padding-right 10px
    font-family font_title
    color bw_body
    font-size 2em
    padding 10px
    margin 5px
    border 2px solid bw_border
    &:hover
      color bw_title
      border 2px solid bw_body

// Aside's style

aside
  background bw_background
  border 2px solid bw_border
  padding 20px
  width: 30%
  float left
  margin-right 20px
  a
    color bw_body
    display block
    padding 10px
    &:hover
      border-bottom none
