header
  img(src="/assets/skeleton.png")
  h1 AppSkeleton
nav
  a(href="/")
    i.fa.fa-home
    | home
  a(href="/documentation.html")
    i.fa.fa-file-text
    | documentation
  a(href="https://github.com/jeremt/appSkeleton", target="_blank")
    i.fa.fa-github
    | github