doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title App skeleton
    link(rel="stylesheet" href="/index.css")
  body(ng-app="sk")
    include ./header.jade
    block content
    script(src="/index.js")
