extends /partials/layout.jade
block content
  h1 AppSkeleton
  p.
    Simple skeleton of a web application which use feature such as:
  ul
    each feature in ['Jade', 'Stylus', 'CoffeeScript', 'Browserify', '...']
      li=feature
  p 
    | Using the simple but powerful #[a(href="http://gulpjs.com") gulp ]
    | build system.