extends /partials/layout.jade
block content
  div#documentation(ng-controller="DocumentationCtrl")
    p You will find all the documentation about this project below:
    ul(ng-repeat="link in links")
      li: a(href="{{link.url}}") {{link.name}}