extends /partials/layout.jade
block content
  section#documentation(ng-controller="DocumentationCtrl as documentation")
    aside
      a(ng-repeat="link in links",
        ng-class="{'current': $index == current}",
        ng-click="documentation.changePage($index)")
        | {{link.name}}
      a(href="/documentation/api/index.html") API

    div.content(ng-repeat="link in links",
      ng-show="$index == current",
      ng-include="documentation.getUrl(link)")